
<div class="container">

  <div class="row">
    
  </div>
  <div class="row">
    <div class="card card-bill">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
    
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{detailsProducts['product']?.name}}</th>
              <td>{{detailsProducts['product']?.price}}</td>
            </tr>
            <tr>
              <th scope="row">{{detailsProducts['step']?.name}}</th>
            </tr>
            <tr>
              <th scope="row">{{detailsProducts['item']?.name}}</th>
            </tr>
            <tr>
              <th>Total:</th>
              <th>{{total}}</th>
            </tr>
            
          </tbody>
        </table>
    </div>
    
  </div>
    
    <div class="col-9">
      <button class="btn btn-info" (click)="productsDetailService._cancelOrder('')">

        Cancel

      </button>
    </div>
    <div class="col-1 ">
      <button class="btn btn-primary" (click)="productsDetailService._previusOrder('')">

        previus 
  
        </button>
    </div>
  </div>

      
</div>

