
<div class="container menu-products">
    <div class= "row" *ngIf="screen === 'Screen1'">
       <div class="col pt-2 product-wrapper"  >

        <div class="card card-product" style="width: 8rem; height: 15rem;" 
        *ngFor="let product of products; let i = index">
            <a (click)="onSelectProduct(i)" class="card card-product">
              <img [src]="product.image" class="card-img-top img-fluid" alt="products">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <hr>
                <p class="card-txt"> Precio: ${{product.price}}</p>
                
              </div>

            </a>
        </div>
    </div>

  </div>

  <div class="row" *ngIf="screen === 'Screen2'">
    <div class="col pt-1 product-wrapper">
      <div class="card card-product" style="width: 8rem; height: 19rem;" *ngFor="let step of productsSelected.steps; let i = index" 
      (click)="onSelectStep(i)">
        <img [src]="step.image" class="card-img-top img-fluid" alt="step">
        <div class="card-body">
          <h5 class="card-title">{{step.name}}</h5>
          <hr>
        <p class="card-step-txt"> {{step.description}}</p> 
          
        </div>
      </div>
    </div>

    <button (click)="screen = 'Screen3'">Next</button>
  </div>

  <div class="row" *ngIf="screen === 'Screen3'" >
    <div class="product-wrapper">
      <div class="card card-product" *ngFor="let item of stepSelected.items; let i = index"
      (click)="onSelectItem(i)" >
        <img [src]="item.image" class="card-img-top img-fluid" alt="products">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <hr>
        <p [innerHTML]='item.nameStyle'class="card-txt"></p> 
        <p class="card-txt"> {{item.description}}</p> 
          
        </div>
      </div>
    </div>
    <button (click)="screen = 'Screen4'">Next</button>
  </div>


  <div class="row" *ngIf="screen === 'Screen4'" >
    <div class="product-wrapper">
     <button (click)="screen = 'Screen5'">TOmar tu orden</button>
    </div>
  </div>

  <div class="row" *ngIf="screen === 'Screen5'" >
    <<div>
    
     <p style="color:azure">Gracias por tu compra</p>
  </div>
</div>


