.product-wrapper {
    display: flex;
    flex-wrap: wrap;

    .card-product {
        margin: 5px auto;
        color: black;
        text-decoration: none;
    }
    
    .card-title {
        font-size: small;
        text-align: center;
    }

    .card-txt {
        color: brown;
        font-size: small;
        
    }
    .card-step-txt{
        color: cornflowerblue;
        font-size: 10px;
    }
    
}

.menu-products {
    min-height: 100%;
    background: url('https://image.freepik.com/vector-gratis/ingredientes-pizza-costuras_1176-269.jpg');


}